.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
footer {
    padding: 1em;
    bottom: 0px;
    width: 100%;
    background: #FFFF00;
}

.card-hotel{
    flex: 1 350px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}
.footer-address-icon{
    padding-right: 10px;

}